/* normalize */
html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}body {margin: 0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}audio,canvas,progress,video {display: inline-block;vertical-align: baseline;}a {background-color: transparent;}a:active,a:hover {outline: 0;}b,strong {font-weight: bold;}img {border: 0;}svg:not(:root) {overflow: hidden;}hr {box-sizing: content-box;height: 0;}pre {overflow: auto;}button {overflow: visible;}audio,canvas,iframe,img,svg,video {vertical-align: middle;}fieldset {border: 0;margin: 0;padding: 0;}

/* universal styles */

html,body {
  color: #222;
  /*font-family: 'monaco', monospace;*/
  font-size: 16px;
  line-height: 1.375rem;
  width: 100%;
  height: 100%;
  background: #f5f6f6;
  margin: 0;
  overflow: hidden;
}

ul { margin: 0; }

body.system * { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
body.monospace * { font-family: 'Monaco', 'Consolas', 'Lucidia Console', monospace; }
body.sans-serif * { font-family: Helvetica, Arial, sans-serif; }
body.serif * { font-family: 'Georgia', serif; }

/* main */

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section {
  margin-left: 10vw;
  margin-top: 2rem;
}
section #edit {
  margin-bottom: 1rem;
}

.time {
  user-select: none;
  cursor: default;
}

.list {

}

.button {
  border-radius: 4px;
  padding: 4px;
}

.header {
  margin-top: 2rem;
  font-weight: bold;
}

.edit-button {
  font-size: 1rem;
  color: #4C4C4C;
  background: #eee;
  display: block;
  border: none;
  transition: 0.2s;
  opacity: 0.8;
}
.edit-button:hover {
  opacity: 1;
}
.edit {
  margin-top: auto;
  /*align-self: flex-end;*/
  position: absolute;
  bottom: 2rem;
  left: 0;
}
.edit textarea {
  margin-top: auto;
  height: 16rem;
  max-height: 100%;
  width: 32rem;
  min-width: 12rem;
  max-width: 80vw;
  border-radius: 6px;
  border: none;
  padding: 8px;
  resize: horizontal;
  overflow: scroll;
  outline: none;
}

ul {
  list-style: none;
  padding-left: 0;
  user-select: none;
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 2rem;
  vertical-align: top;
}
li {
  margin: 16px 0;
}
li:first-child {
  margin-top: 0;
}
li:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: 0.2s;
}


.hidden {
  display: none;
}

/*
  # themes
*/

/*
  ## light
*/

body.light {
  color: #222;
  background: #f1f2f3;
}

body.light .button { background: #eaeaea; color:#4C4C4C; }
body.light .button:link, body.light .button:visited { color:#4C4C4C; }
body.light .button:hover, body.light .button:active { color:#000; }
body.light textarea { background:#eaeaea; color:#222; }

/*
  ## dark
*/

body.dark {
  color: #fff;
  background: #394146;
}

body.dark .button { background: #454E54; color:#fff; }
body.dark .button:link, body.dark .button:visited { color:#fff; }
body.dark .button:hover, body.dark .button:active { color:#eee; }
body.dark textarea { background:#454E54; color:#fff; :  }


/*
  ## black
*/

body.black {
  color: #eee;
  background: #000;
}

body.black .button { background:#1e1e1e; color:#eee; }
body.black .button:link, body.black .button:visited { color:#eee; }
body.black .button:hover, body.black .button:active { color:#ddd; }
body.black textarea { background:#1e1e1e; color:#eee; }


/*
  ## red
*/

body.red {
  color: #fff;
  background: #f55;
}

body.red .button { background:#f66; color:#eee; }
body.red .button:link, body.red .button:visited { color:#eee; }
body.red .button:hover, body.red .button:active { color:#ddd; }
body.red textarea { background:#f66; color:#eee; }


/*
  ## blue
*/

body.blue {
  color: #fff;
  background: #55f;
}

body.blue .button { background:#66f; color:#eee; }
body.blue .button:link, body.blue .button:visited { color:#eee; }
body.blue .button:hover, body.blue .button:active { color:#ddd; }
body.blue textarea { background:#66f; color:#eee; }


/*
  ## purple
*/

body.purple {
  color: #fff;
  background: #6528DD;
}

body.purple .button { background:#7339E7; color:#eee; }
body.purple .button:link, body.purple .button:visited { color:#eee; }
body.purple .button:hover, body.purple .button:active { color:#ddd; }
body.purple textarea { background:#7339E7; color:#eee; }


