/* normalize */
html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}body {margin: 0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}audio,canvas,progress,video {display: inline-block;vertical-align: baseline;}a {background-color: transparent;}a:active,a:hover {outline: 0;}b,strong {font-weight: bold;}img {border: 0;}svg:not(:root) {overflow: hidden;}hr {box-sizing: content-box;height: 0;}pre {overflow: auto;}button {overflow: visible;}audio,canvas,iframe,img,svg,video {vertical-align: middle;}fieldset {border: 0;margin: 0;padding: 0;}

/* universal styles */

::-moz-selection {
	background: #fcb7b3;
	text-shadow: none;
}
::selection {
	background: #fcb7b3;
	text-shadow: none;
}

html {
	color: #222;
	font-size: 16px;
	line-height: 1.375rem;
}

/* extras */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* responsive rules */

/* small screens */
@media only screen and (max-width: 480px) {
	h1 { font-size: 2rem; }
	h2 { font-size: 1.625rem; }
	h3 { font-size: 1.375rem; }
	h4 { font-size: 1.125rem; }
}

/* tablets and small screens */
@media only screen (min-width: 480px) and (max-width: 960px) {
	h1 { font-size: 2.5rem; }
	h2 { font-size: 2rem; }
	h3 { font-size: 1.5rem; }
	h4 { font-size: 1.125rem; }
}

/* normal to large screens */
@media only screen (min-width: 960px) {
	h1 { font-size: 3rem; }
	h2 { font-size: 2.25rem; }
	h3 { font-size: 1.75rem; }
	h4 { font-size: 1.125rem; }	
}

